---
import Layout from '@/layouts/Layout.astro'
import CartMain from '@/components/Cart/Cart'
---

<Layout title="Cart">
  <div class="flex h-screen flex-col">
    <CartMain client:idle />
  </div>
</Layout>
