---
import Layout from '@/layouts/Layout.astro'

import Hero from '@/components/Hero.astro'
import Guimarbot from '@/components/Guimarbot.astro'
import Why from '@/sections/Why.astro'
import Enrollers from '@/sections/Enrollers.astro'
import Courses from '@/sections/Courses.astro'
import Testimonials from '@/sections/Testimonials.astro'
---

<Layout title="Welcome to Astro." isHomePage>
  <!-- <Guimarbot /> -->
  <Hero />

  <main>
    <Why />
    <Courses />
    <Testimonials />
    <Enrollers />
  </main>
</Layout>
