---
import ProfileTabs from '@/components/Profile/ProfileTabs'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Profile">
  <div class="h-screen w-full p-10" id="profile">
    <div class="rounded-md shadow-2xl">
      <div class="flex flex-col items-center justify-center py-10">
        <div class="h-20 w-20 rounded-full bg-black text-white"></div>
        <h2 class="text-2xl font-bold">Name</h2>
        <p>type</p>
      </div>

      <ProfileTabs client:load />
    </div>
  </div>
</Layout>
