---
import type { Plan } from '@/types/Plan'

export interface Props {
  plan: Plan
}

const { plan } = Astro.props

const { name, content, price } = plan
---

<div
  class="flex h-[475px] w-full flex-col overflow-visible rounded-md border border-gray-800/80 bg-gray-100/80 px-5 py-3 drop-shadow-md md:w-96"
>
  <!-- <div class="flex h-full flex-col"> -->
  <div class="flex justify-start">
    <div class="flex w-full items-center justify-between">
      <h1 class="text-left text-xl font-bold text-midnight-navy md:text-2xl">
        {name}
      </h1>

      <div class="text-gray-800/80">
        S/. {price}
        <span
          class="rounded-full border border-black px-2.5 py-0.5 font-bold text-gray-800/80 backdrop-blur-sm"
        >
          Mensual
        </span>
      </div>
    </div>
  </div>

  <p class="mt-4 text-black">
    Para <span class="font-bold">1 estudiante</span>
  </p>

  <ul
    class="my-4 flex flex-col justify-normal gap-y-3 text-gray-800/30 md:flex-grow"
  >
    {
      content.map(({ description, active }) => (
        <ol class:list={['', { 'text-black/80': active }]}>{description}</ol>
      ))
    }
  </ul>

  <div class="mt-4 flex w-full justify-end">
    <a
      href="/auth/login"
      class="block w-full rounded-md border border-blue-600 bg-blue-800 px-3 py-2 text-center text-white transition-all duration-300 hover:scale-105"
    >
      Adquirir
    </a>
  </div>
  <!-- </div> -->
</div>
