---
import type { Plan } from '@/types/Plan'

interface Props {
  plan: Plan
}

const { plan } = Astro.props
const { name, price, maxUsers, description } = plan
---

<div
  class="flex w-96 flex-col justify-between rounded-md border border-gray-300"
>
  <div
    class="min-w-[300px] overflow-hidden rounded-lg border border-gray-300 bg-white shadow-md"
  >
    <div class="border-b border-gray-300 bg-gray-100 p-5 text-left">
      <h2 class="mb-2 text-lg font-bold text-gray-800">{name}</h2>
      <p class="mb-2 text-sm text-gray-600">
        {description}
      </p>
      <p class="flex items-center text-sm text-gray-600">
        <span class="mr-2 inline-block h-4 w-4 rounded-full bg-gray-600"></span>
        {maxUsers}
      </p>
    </div>
    <div class="p-5 text-left">
      <p class="mb-5 text-base text-gray-800">
        Los pagos se pueden realizar a través de todos los medios
      </p>
      <button
        class="mb-5 w-full rounded-lg bg-gray-800 px-4 py-2 text-base font-bold text-white transition hover:bg-gray-600"
      >
        S/{price}
      </button>
      <ul class="list-none space-y-2">
        <li class="flex items-center text-sm text-gray-600">
          <span class="mr-2 font-bold text-green-500">✔</span>
          Pago único
        </li>
        <li class="flex items-center text-sm text-gray-600">
          <span class="mr-2 font-bold text-green-500">✔</span>
          1 año de duración
        </li>
        <li class="flex items-center text-sm text-gray-600">
          <span class="mr-2 font-bold text-green-500">✔</span>
          Acceso a todos los cursos
        </li>
      </ul>
    </div>
  </div>
</div>
