<footer
  class="flex min-h-[300px] flex-col items-center justify-center bg-gray-900 p-5 text-white"
>
  <img
    class="mb-4 h-20 w-20 rounded-full"
    src="resources/img/logo_guimarbot.webp"
    alt="Logo"
  />
  <p class="font-quicksand mb-6 text-center text-lg">
    Organización de educación en tecnologías y crecimiento personal para niños y
    jóvenes.
  </p>
  <div class="mb-6 flex flex-wrap items-center justify-center space-x-4">
    <a
      href="https://www.facebook.com/GuimarbotPeru?mibextid=ZbWKwL"
      target="_blank"
      rel="noopener noreferrer"
      class="border-primary1 hover:bg-primary1 hover:border-secondary1 flex h-12 w-12 items-center justify-center rounded-full border-2 transition duration-200"
    >
      <i
        class="bi bi-facebook text-primary1 text-xl transition duration-200 hover:text-black"
      ></i>
    </a>
    <a
      href="#"
      target="_blank"
      rel="noopener noreferrer"
      class="border-primary1 hover:bg-primary1 hover:border-secondary1 flex h-12 w-12 items-center justify-center rounded-full border-2 transition duration-200"
    >
      <i
        class="bi bi-twitter-x text-primary1 text-xl transition duration-200 hover:text-black"
      ></i>
    </a>
    <a
      href="#"
      target="_blank"
      rel="noopener noreferrer"
      class="border-primary1 hover:bg-primary1 hover:border-secondary1 flex h-12 w-12 items-center justify-center rounded-full border-2 transition duration-200"
    >
      <i
        class="bi bi-youtube text-primary1 text-xl transition duration-200 hover:text-black"
      ></i>
    </a>
    <a
      href="mailto:guimarbot@micorreo.com"
      class="border-primary1 hover:bg-primary1 hover:border-secondary1 flex h-12 w-12 items-center justify-center rounded-full border-2 transition duration-200"
    >
      <i
        class="bi bi-envelope text-primary1 text-xl transition duration-200 hover:text-black"
      ></i>
    </a>
  </div>
  <div class="text-sm text-gray-400">
    Creado por Sanchez Vera Diego - Tragodara Angulo Daniel (2024) &#169;
  </div>
</footer>
