---
import MenuDrop from './ui/MenuDropDeprecreated'
import UserProfile from './UserProfile'

const links = [
  {
    to: '/#',
    name: 'Home'
  },
  {
    to: '/comunity',
    name: 'Comunidad'
  },
  {
    to: '/#courses',
    name: 'Cursos'
  },
  {
    to: '/#plans',
    name: 'Planes'
  }
]
---

<header
  id="main-header"
  class:list={[
    'header-animate z-[99999] mb-10 w-full overflow-x-hidden bg-white py-2'
  ]}
>
  <div
    class="mx-auto grid max-w-[1200px] grid-cols-[auto_1fr] items-center justify-center gap-x-10 md:flex md:justify-normal"
  >
    <div class="flex justify-start md:flex-grow md:basis-0">
      <a href="#" class="ml-6 flex items-center gap-x-1">
        <img src="/img/guimarbot.webp" alt="Logo" class="size-10" />
      </a>
    </div>
    <nav
      class="col-span-full row-[2/3] grid grid-rows-[0fr] overflow-x-auto md:flex md:justify-center"
    >
      <ul
        class="flex flex-col items-center justify-center gap-x-8 overflow-x-hidden overflow-y-hidden md:flex-row"
      >
        {
          links.map(({ to, name }) => {
            if (!to.includes('#')) {
              // return <MenuDrop label={name} items={[]} client:load />
              return (
                <div class="grid grid-rows-[min-content_0fr] transition-[grid-template-rows] has-[input:checked]:grid-rows-[min-content_1fr]">
                  <label
                    for="comunity-menu"
                    class="relative flex cursor-pointer select-none p-4"
                  >
                    <input
                      checked
                      id="comunity-menu"
                      type="checkbox"
                      class="peer hidden"
                    />
                    <div class="">{name}</div>
                  </label>
                  <div class="bg-box overflow-hidden rounded-xl">
                    <ul class="py-2">
                      <li>
                        <a
                          href="/curso/aprende-lo-ultimo-de-javascript/00-nuevos-metodos-para-colecciones/00-introduccion"
                          class="hover:bg-brand-gray/10 relative flex w-full items-center justify-between gap-4 overflow-hidden px-4 py-2 text-sm text-white transition"
                        >
                          <p class="flex flex-grow items-center gap-1">
                            Introducción al curso
                          </p>
                          <span class="text-brand-blue block min-w-[52px] text-right">
                            18s
                          </span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              )
            }

            return (
              <li class="group flex w-full justify-center first:mt-5 md:block md:w-auto md:first:mt-0">
                <a
                  href={to}
                  class="cursor-pointer bg-gradient-to-r from-white to-white bg-[length:0%_2px] bg-left-bottom bg-no-repeat shadow-2xl transition-all duration-500 ease-out group-hover:bg-[length:100%_2px]"
                >
                  {name}
                </a>
              </li>
            )
          })
        }
      </ul>
    </nav>

    <div
      class="mr-4 flex items-center justify-end gap-4 md:flex-grow md:basis-0"
    >
      <UserProfile client:only="react" />
    </div>
  </div>
</header>

<style>
  @keyframes reduce-header {
    100% {
      /* box-shadow:
        0 5px 50px -5px #ffffff1a,
        0 0 0 1px #ffffff1a; */
      background: 0000004d;
      padding-block: 1rem;
    }
  }

  .header-animate {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    animation: reduce-header linear both;
    animation-timeline: scroll();
    animation-range: 0 150px;
  }
</style>
