---
import MenuDrop from './ui/MenuDrop'
import UserProfile from './UserProfile'

const links = [
  {
    to: '/#',
    name: 'Home'
  },
  {
    to: '/comunity',
    name: 'Comunidad'
  },
  {
    to: '/#courses',
    name: 'Cursos'
  },
  {
    to: '/#plans',
    name: 'Planes'
  }
]
---

<header
  id="main-header"
  class:list={[
    // { 'is-home-page text-white backdrop-blur-sm': isHomePage },
    // { 'bg-white text-gray-900': !isHomePage },
    // 'header-animate z-[9999] w-full overflow-visible py-2 md:backdrop-blur-0'
    'header-animate z-[99999] mb-10 w-full overflow-x-hidden bg-white py-2'
  ]}
>
  <div
    class="mx-auto grid max-w-[1200px] grid-cols-[auto_1fr] items-center justify-center gap-x-10 md:flex md:justify-normal"
  >
    <div class="flex justify-start md:flex-grow md:basis-0">
      <a href="#" class="ml-6 flex items-center gap-x-1">
        <img src="/img/guimarbot.webp" alt="Logo" class="size-10" />
      </a>
    </div>
    <nav
      class="col-span-full row-[2/3] grid grid-rows-[0fr] overflow-x-auto md:flex md:justify-center"
    >
      <ul
        class="flex flex-col items-center justify-center gap-x-8 overflow-x-hidden overflow-y-hidden md:flex-row"
      >
        {
          links.map(({ to, name }) => {
            if (!to.includes('#')) {
              return <MenuDrop label={name} items={[]} client:load />
            }

            return (
              <li class="group flex w-full justify-center first:mt-5 md:block md:w-auto md:first:mt-0">
                <a
                  href={to}
                  class="cursor-pointer bg-gradient-to-r from-white to-white bg-[length:0%_2px] bg-left-bottom bg-no-repeat shadow-2xl transition-all duration-500 ease-out group-hover:bg-[length:100%_2px]"
                >
                  {name}
                </a>
              </li>
            )
          })
        }
      </ul>
    </nav>

    <div
      class="mr-4 flex items-center justify-end gap-4 md:flex-grow md:basis-0"
    >
      <UserProfile client:only="react" />
      <!-- <a
        href="/auth/login"
        class="flex items-center justify-center rounded-md border border-none px-4 py-2.5 text-lg leading-none transition-transform duration-300 hover:scale-105"
      >
        Aprende ahora
      </a> -->
    </div>
  </div>
</header>

<style>
  @keyframes reduce-header {
    100% {
      /* box-shadow:
        0 5px 50px -5px #ffffff1a,
        0 0 0 1px #ffffff1a; */
      background: 0000004d;
      padding-block: 1rem;
    }
  }

  .header-animate {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    animation: reduce-header linear both;
    animation-timeline: scroll();
    animation-range: 0 150px;
  }
</style>
