<div
  class="flex min-h-screen flex-col items-start justify-center px-10 pb-10 text-white"
>
  <h1 class="w-[625px] text-balance text-6xl font-bold">
    Conviérte en un gran Desarrollador
  </h1>
  <h1 class="mt-6 text-3xl font-normal md:text-3xl">
    Todo lo que necestias aprender en un solo lugar
  </h1>

  <div class="mt-3">
    <span class="group">
      <a
        id="exploreButton"
        href="/#courses"
        class="cursor-pointer bg-gradient-to-r from-white to-white bg-[length:0%_2px] bg-left-bottom bg-no-repeat shadow-2xl transition-all duration-500 ease-out group-hover:bg-[length:100%_2px]"
      >
        Explorar cursos
      </a>
    </span>
  </div>
</div>

<style>
  .pt-full {
    padding-top: 70vh;
  }

  .font-effect-neon {
    text-shadow: 0 0 0.1em
      linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 121, 76, 1) 33%,
        rgba(0, 212, 255, 1) 100%
      );
    color: #fff;
  }
</style>
<script></script>
