<div class="pt-full px-10 text-white">
  <h1 class="font-effect-neon text-6xl italic">
    Conviérte en un gran Desarrollador
  </h1>
  <h1 class="font-effect-neon text-4xl font-normal">
    Todo lo que necestias aprender en un solo lugar
  </h1>

  <div class="mt-3">
    <span class="group">
      <span
        id="exploreButton"
        class="font-effect-neon bg-gradient-to-r from-white to-white bg-[length:0%_2px] bg-left-bottom bg-no-repeat shadow-2xl transition-all duration-500 ease-out group-hover:bg-[length:100%_2px]"
      >
        Explorar cursos
      </span>
    </span>
  </div>
</div>

<style>
  .pt-full {
    padding-top: 70vh;
  }
  .font-effect-neon {
    text-shadow: 0 0 0.1em #fff;
    color: #fff;
  }
</style>
<script></script>
