---
interface Props {
  title: string
  description: string
  topics: string[]
  duration: string
}

const { title, description, topics, duration } = Astro.props
---

<div class="rounded-lg border border-gray-200">
  <div class="w-full p-6">
    <div class="mb-6">
      <h2 class="text-2xl font-medium">{title}</h2>
      <p class="text-sm text-gray-500">{description}</p>
    </div>
    <div>
      <div class="mb-4 flex flex-wrap gap-2">
        {
          topics.map(topic => (
            <div class="rounded-full bg-gray-200 px-2 py-1 text-xs font-medium">
              {topic}
            </div>
          ))
        }
      </div>
      <p class="mb-4 text-sm text-gray-500">
        Duración estimada: {duration}
      </p>
    </div>
  </div>

  <button
    class="flex h-10 w-full items-center justify-center rounded-b-md bg-blue-500 text-white hover:bg-blue-400"
  >
    <a href="/course/roadmap/1"> Ver detalles</a>
  </button>
</div>
