---

---

<div class="mt-10 flex h-96 flex-col items-center justify-center">
  <h1 class="py-20 text-4xl font-extrabold">
    Por qué elegir <span class="tracking-tighter text-blue-600">Guimarbot</span
    >?
  </h1>
  <div class="flex gap-8">
    <div
      class="flex w-[400px] flex-col rounded-md border-2 border-gray-200 p-8 text-center"
    >
      <h2 class="mb-8 text-xl font-bold">Cutting-edge Curriculum</h2>
      <p>
        Descubre un mundo de conocimiento a tu alcance. En nuestra plataforma,
        encontrarás recursos y oportunidades diseñados para enriquecer tu
        aprendizaje. Desde cursos interactivos hasta materiales exclusivos,
        estamos aqui para apoyarte en cada paso de tu camino educativo.
      </p>
    </div>
    <div
      class="flex w-[400px] flex-col rounded-md border-2 border-gray-200 p-8 text-center"
    >
      <h2 class="mb-8 text-xl font-bold">Expert Faculty</h2>
      <p>
        Learn from world-renowned experts who are leaders in their respective
        fields.
      </p>
    </div>
  </div>
</div>
