---
import Section from '@/components/ui/Section.astro'
import CartMain from '@/components/Cart/Cart'
---

<Section className="mt-0">
  <div class="flex h-screen flex-col">
    <CartMain client:idle />
  </div>
</Section>
