---
import CourseList from '@/components/CourseList.astro'
import Section from '@/components/ui/Section.astro'
---

<Section className="bg-blue-500">
  <div class="flex flex-col items-center justify-center">
    <h1 class="text-center text-4xl font-bold">Lista de cursos mas</h1>

    <CourseList />

    <a
      href="/course"
      class="block rounded-md border-2 border-gray-200/80 bg-box px-4 py-2 text-xl text-white transition-transform hover:scale-110"
    >
      Aprende de más cursos aquí
    </a>
  </div>
</Section>
