---
import CourseList from '@/components/CourseList.astro'
---

<section class="mt-10 px-4 pt-20" id="courses">
  <h1 class="text-center text-4xl font-bold">Lista de cursos mas</h1>

  <CourseList />
</section>
