---
import EnrolleCard from '@/components/EnrolleCard.astro'
import Section from '@/components/ui/Section.astro'
import type { Plan } from '@/types/Plan'

const response = await fetch(`${import.meta.env.PUBLIC_API_URL}/plan`)
const rawData = await response.json()

const data: Plan[] = rawData.map((item: any) => ({
  ...item,
  price: parseFloat(item.price)
}))
---

<Section>
  <h1 class="text-center text-2xl font-bold md:text-3xl">Nuestro planes</h1>

  <p class="mt-2 text-pretty text-center text-lg">
    Estos son nuestro planes que te ofrecenmos para adquirir nuestros cuerso!
  </p>

  <div
    id="plans"
    class="mt-14 flex flex-col items-center justify-center gap-x-5 gap-y-4 md:flex-row"
  >
    {data.map(plan => <EnrolleCard plan={plan} />)}
  </div>
</Section>
