---
import EnrolleCard from '@/components/EnrolleCard.astro'
import type { Plan } from '@/types/Plan'

const plans: Plan[] = [
  {
    id: 1,
    name: 'Basic plan',
    content: [
      {
        description: 'Limite de acceso por cursos',
        active: true
      },
      {
        description:
          'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        active: false
      }
    ]
  },
  {
    id: 1,
    name: 'Basic plan',
    content: [
      {
        description: 'Limite de acceso por cursos',
        active: true
      },
      {
        description:
          'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        active: false
      }
    ]
  },
  {
    id: 1,
    name: 'Basic description',
    content: [
      {
        description: 'Limite de acceso por cursos',
        active: true
      },
      {
        description:
          'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        active: false
      }
    ]
  }
]
---

<section class="mt-20 px-4">
  <h1 class="text-center text-2xl font-bold md:text-3xl">
    Elige el plan que mejor se adapte a ti
  </h1>

  <p class="mt-2 text-pretty text-center text-lg">
    Mejora tu oportunidad de crecimiento personal y profesional.
  </p>

  <div
    class="mt-14 flex flex-col items-center justify-center gap-x-5 gap-y-4 md:flex-row"
  >
    {plans.map(plan => <EnrolleCard plan={plan} />)}
  </div>
</section>
