---
import LiteYoutube from '@/components/LiteYoutube.astro'
import Play from '@/icons/Play.astro'
---

<LiteYoutube videoId="j4b73_D4-5Q" className="rounded-[16px]" />

<div
  class="absolute bottom-1/2 right-1/2 flex flex-col gap-4 md:bottom-5 md:right-5"
>
  <button
    class="border-brand-gray point lty-play-button flex translate-x-1/2 translate-y-1/2 items-center gap-1.5 rounded-[10px] border bg-box px-4 py-2 text-white transition-transform hover:scale-110 md:translate-x-0 md:translate-y-0"
  >
    <Play />
    Preview view
  </button>
  <a
    class="border-brand-gray flex translate-x-1/2 translate-y-1/2 items-center gap-1.5 rounded-[10px] border bg-box px-4 py-2 text-white transition-transform hover:scale-110 md:translate-x-0 md:translate-y-0"
  >
    <Play />
    Empezar ahora
  </a>
</div>
<div class="absolute bottom-5 left-5 z-10">
  <p class="mt-1 text-sm text-white/60 sm:text-base">
    Un curso de <span class="text-white">Miguel Ángel Durán García</span>
  </p>
</div>

<script>
  // const la
  // localStorage.setItem('')
</script>
