---
import Section from '@/components/ui/Section.astro'
---

<Section className="my-20">
  <div class="flex flex-col items-center justify-center">
    <h1 class="py-20 text-center text-4xl font-extrabold">
      Por qué elegir
      <span class="tracking-tighter text-blue-600">Guimarbot</span>?
    </h1>
    <div class="flex flex-wrap justify-center gap-8">
      <div
        class="flex w-full max-w-md flex-col rounded-md border-2 border-gray-200 p-8 text-center"
      >
        <h2 class="mb-8 text-xl font-bold">Currículo de vanguardia</h2>
        <p>
          Descubre un mundo de conocimiento a tu alcance. En nuestra plataforma,
          encontrarás recursos y oportunidades diseñados para enriquecer tu
          aprendizaje. Desde cursos interactivos hasta materiales exclusivos,
          estamos aquí para apoyarte en cada paso de tu camino educativo.
        </p>
      </div>
      <div
        class="flex w-full max-w-md flex-col rounded-md border-2 border-gray-200 p-8 text-center"
      >
        <h2 class="mb-8 text-xl font-bold">Profesores Expertos</h2>
        <p>
          Aprende de expertos de renombre mundial que son líderes en sus
          respectivos campos. Nuestro equipo de instructores no solo tiene
          experiencia académica, sino que también aporta conocimientos prácticos
          y consejos valiosos para ayudarte a alcanzar tus objetivos.
        </p>
      </div>
    </div>
  </div>
</Section>
