---
import '@fontsource-variable/inter'
import BaseHead from '@/components/BaseHead.astro'

interface Props {
  title: string
  isHomePage?: boolean
}

const { title, isHomePage } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} />
  </head>
  <body class="overflow-x-hidden font-sans">
    <slot />
  </body>
</html>

<style is:global>
  html {
    font-family: 'Inter Variable', sans-serif;
    background-color: #f6f6f6;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
  }
</style>
