---
import '@fontsource-variable/inter'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import BaseHead from '@/components/BaseHead.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} />
  </head>
  <body class="overflow-x-hidden overflow-y-scroll font-sans">
    <Header />

    <div class="mt-[80px]">
      <slot />
    </div>

    <Footer />
  </body>
</html>

<style is:global>
  html {
    font-family: 'Inter Variable', sans-serif;
    background-color: #f6f6f6;
    scroll-behavior: smooth;
  }
</style>
