---
import { timerDelta } from 'three/webgpu'

export interface Props {
  label: string
  items: { href: string; name: string }[]
}

const { label, items } = Astro.props
---

<div
  class="group relative flex w-full justify-center first:mt-5 md:block md:w-auto md:first:mt-0"
>
  <label for="comunity-menu" class="flex cursor-pointer select-none p-4">
    <input id="comunity-menu" type="checkbox" class="peer hidden" />
    <div>{label}</div>
  </label>

  <div
    class="absolute -left-12 top-12 z-[9999999] hidden w-64 rounded-xl bg-box shadow-lg group-has-[input:checked]:block"
  >
    <ul class="py-2">
      {
        items.map(item => (
          <li>
            <a
              href={item.href}
              class="hover:bg-brand-gray/10 flex w-full items-center justify-between px-4 py-2 text-sm text-white transition"
            >
              {item.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
