---
export interface Props {
  title: string
}

const {} = Astro.props
---

<div
  class="grid grid-rows-[min-content_0fr] transition-[grid-template-rows] has-[input:checked]:grid-rows-[min-content_1fr]"
>
  <label for="content1" class="relative flex cursor-pointer select-none p-4">
    <input checked id="content1" type="checkbox" class="peer hidden" />
    <div class="flex flex-grow gap-2.5">
      <div>
        <h3 class="text-sm text-[#0097ff]">Capitulo 1</h3>
        <p class="text-white">Nuevos metodos para colecciones</p>
      </div>
    </div>
  </label>
  <div class="bg-box overflow-hidden rounded-xl">
    <ul class="py-2">
      <li>
        <a
          href="/curso/aprende-lo-ultimo-de-javascript/00-nuevos-metodos-para-colecciones/00-introduccion"
          class="hover:bg-brand-gray/10 relative flex w-full items-center justify-between gap-4 overflow-hidden px-4 py-2 text-sm text-white transition"
        >
          <p class="flex flex-grow items-center gap-1">Introducción al curso</p>
          <span class="text-brand-blue block min-w-[52px] text-right">
            18s
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
