---
interface Props {
  className?: string
}

const { className } = Astro.props
---

<section class:list={['my-4 px-5 py-20', className]}>
  <div class="mx-auto my-5 max-w-7xl">
    <slot />
  </div>
</section>
